body {
  margin: 0;
  padding: 0;
}

/* 添加功能样式(布局 定位) */
.multi_drop_menu * {
  margin: 0;
  padding: 0;
}
/* 强制ul包围li */
.multi_drop_menu ul {
  float: left;
}
.multi_drop_menu li {
  float: left;
  list-style-type: none;
  /* 为子菜单定义上下文 */
  position: relative;
}
.multi_drop_menu li a {
  /* 链接填充列表项 */
  display: block;
  border-right-style: solid;
  text-decoration: none;
}
.multi_drop_menu li:last-child a{
  border-right-style: none;
}
.multi_drop_menu li ul {
  display: none;
}
body {
    margin: 0;
    padding: 0;
  }
  
  /* 添加功能样式(布局 定位) */
  .multi_drop_menu * {
    margin: 0;
    padding: 0;
  }
  /* 强制ul包围li */
  .multi_drop_menu ul {
    float: left;
  }
  .multi_drop_menu li {
    float: left;
    list-style-type: none;
    /* 为子菜单定义上下文 */
    position: relative;
  }
  .multi_drop_menu li a {
    /* 链接填充列表项 */
    display: block;
    border-right-style: solid;
    background-clip:padding-box; 
    text-decoration: none;
  }

  .multi_drop_menu li:last-child a{
    border-right-style: none;
  }
  .multi_drop_menu li ul {
    display: block;
    /*相对于父菜单项定位*/ 
    position:absolute; 
    /*左边与父菜单项对齐*/ 
    left:0; 
    /*顶边与父菜单项底边对齐*/
    /*即高度为父元素的高度 使其刚好位于父元素li下方*/ 
    top:100%; 
  }
  .multi_drop_menu li li { 
    /*停止浮动，恢复堆叠*/ 
    float:none; 
  } 
  .multi_drop_menu li li ul { 
    /*继续隐藏三级下拉菜单*/ 
    display:none; 
  } 

.multi_drop_menu li ul {display: none;} 
　.multi_drop_menu li:hover > ul{display:block; }
.multi_drop_menu li li ul { position:absolute; left:100%; top:0; }

.multi_drop_menu li li li a { border-left-style:solid;}