      @charset "utf-8";

    @import url(layout.css); /* 布局样式 */
    @import url(visual.css); /* 视觉样式 */
h1 {
    font-family: Arial, ‘Helvetica Neue’, Helvetica, sans-serif; font-size: 24px;
    font-style: bold;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.3999996185303px;
}

blockquote {
    background:#f9f9f9;
    border-left:10px solid #ccc;
    margin:1.5em 10px;
    padding:.5em 10px;
    quotes:"\201C""\201D""\2018""\2019";
    }
p{
        font-family: Arial, ‘Helvetica Neue’, Helvetica, sans-serif; font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px; }
        blockquote {
        font-family: Arial, ‘Helvetica Neue’, Helvetica, sans-serif; font-size: 21px;
        font-style: italic;
        font-variant: normal;
        font-weight: 400;
        line-height: 30px;
        }
body {margin-left：10px; margin-top:10px; margin-right:10px; margin-bottom:10px;} 

*{margin：0；padding：0；}

    .happy{width: 900px;margin: 50px; auto;border: solid 1px gray; overflow:hidden;}
    .mydiv{width: 300px;float: left;}
    .mydiv img{display:block; width: 100%;}
    .yourdiv{width: 450px;float: right;}
    .yourdiv img{display:block; width: 100%;}

    html, body {height: 100%; margin: 0}
    #content {width: 100%; height: 100%}
    #left {width: 250px; height: 100%; float: left; background-color: #FFFFCC} 
    #right {margin-left: 250px; height: 100%; background-color: #CCFFFF}

   
       