.multi_drop_menu {
  font: 1em helvetica, arial, sans-serif;
}
.multi_drop_menu a {
  /*让链接充满列表项*/
  display: block;
  /*文本颜色*/
  color: #555;
  /*背景颜色*/
  background-color: #eee;
  /*链接内边距*/
  padding: .2em 1em;
  /*边框分割线宽度*/
  border-width: 3px;
  /*指定边框透明 默认为文本颜色*/
  /* border-color: transparent; */
}
.multi_drop_menu a:hover { 
  /*悬停时文本颜色*/ 
  color:#fff; 
  /*悬停时背景色*/ 
  background-color:#aaa; 
}
.multi_drop_menu a:active { 
  /*点击时背景变色*/ 
  background:#fff; 
  /*点击时文本变色*/ 
  color:#ccc; 
} 
.multi_drop_menu {
    font: 1em helvetica, arial, sans-serif;
  }
  .multi_drop_menu a {
    /*让链接充满列表项*/
    display: block;
    /*文本颜色*/
    color: #555;
    /*背景颜色*/
    background-color: #eee;
    /*链接内边距*/
    padding: .2em 1em;
    /*边框分割线宽度*/
    border-width: 3px;
    /*指定边框透明 默认为文本颜色*/
    border-color: transparent;
  }
  .multi_drop_menu a:hover { 
    /*悬停时文本颜色*/ 
    color:#fff; 
    /*悬停时背景色*/ 
    background-color:#aaa; 
  }
  .multi_drop_menu a:active { 
    /*点击时背景变色*/ 
    background:#fff; 
    /*点击时文本变色*/ 
    color:#ccc; 
  } 
  /*二级菜单宽度*/ 
  .multi_drop_menu li ul {
    width:9em;
  } 
  .multi_drop_menu li li a { 
    /*去掉继承的右边框*/ 
    border-right-style:none; 
    /*添加上边框*/ 
    border-top-style:solid; 
  } 
